body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
  }
  
  #map-container {
    flex: 3;
    overflow: hidden;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  #info-container {
    flex: 1;
    background-color: #fff;
    padding: 25px;
    padding-left: 50px;
    padding-top: 200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #000027;
    padding-top : 100px;
    padding-left : 50px;
    border-right: 1px solid #000027;
  }

  #info-container h1 {
    font-size: 24px;
    color: #000027;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
  }
  
  #info-container h1 {
    font-size: 24px;
    color: #000027;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Arial', sans-serif;
  }

  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 18px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #000027;
  }
  
  iphone-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
  }
  
  .iphone-alert-content {
    text-align: center;
  }