body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
  }
  
  #map-container {
    flex: 3;
    overflow: hidden;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
  #info-container {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #000027;
  }
  